<h1 class="page-title">
	Login with your user
</h1>
<div class="lead">
	<form class="form-inline" action="/login" method="POST">
		<div class="form-group">
		    <input class="form-control" type="text" name="username" placeholder="Username">
		    <input class="form-control" type="password" name="password" placeholder="Password">
		    <input class="btn btn-primary" type="submit" value="Submit">
	    </div>
	</form>
</div>